:root {
  --backgraund-first-color: #2f303a;
  --background-second-color: #f5f4fa;

  --background-link-grey: #f5f4fa;
  --link-grey: #afb1b8;

  --white-color: #ffffff;
  --main-text-color: #212121;
  --second-text-color: #757575;

  --accent-color: #2196f3;

  --button-hover: #188ce8;
}
